.container {
    margin-top: 100px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .color-primary:hover{
    background-color: rgb(46, 46, 46);
  } 

  .spinner{
    scale: calc(0.7);
  }

  .clear{
    cursor: pointer;
  }

  .alert{
    margin: 0;
    padding: 0;
    height: 40px;
  }
  